// GRADINT
// background: radial-gradient(71.09% 120.09% at 26.35% 15.72%, #B5CFFF 0%, #ADF4FF 35.02%, #BAC9FC 100%)
/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */

// typograpth
$plp-heading-color: #364e6a; // patient landing page main heading color
$plp-button-b-color: #068eee; //button & search icon background color
$color-secondary-light: #eef8ff;
$color-secondary-lidark: #d6e7f5;

$color-primary: #55c57a;
$color-secondary-dark: #ff7730;
$color-grey-dark-2: #999;
$color-grey-dark-1: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #cccccc;
$color-grey-light-3: #797979;

$color-white: #ffffff;
$color-black: #000000;

$tabnamecolor: #206493;

$tabbuttoncolor: #068eee;

// GRID
$grid-width: 114rem;
// MODAL VARAIBLES
$modal-primary-color: #9ba950;
$border-gray: #979797;
$light-gray: #e5e7eb;
$text-gray: #6b7280;
