.maincontainer {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;

  .newpatient-section {
    grid-column: 1/-1;
  }
  .search-section {
    grid-column: 1/-1;
    // max-height: 20rem;
    // height: 200px; // Set a fixed height for the search section
    flex-grow: 1;
  }
  .image__doctorimg {
    grid-column: 1/-1;
  }
  // Basic iOS support
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  @include respond(ipad-pro) {
    grid-template-rows: 11rem 20rem 50rem;
  }

  @include respond(tab-port) {
    grid-template-rows: 15rem 30rem 46rem;
  }
  @include respond(mini-tab) {
    grid-template-rows: 20rem 38rem 55rem;
  }
  // Phone (max-width: 430px)
  @include respond(phone) {
    display: grid;
    grid-template-rows: 20rem 40rem 55rem;
    min-height: -webkit-fill-available;
    height: 100%;
  }
}
