.maincontainer {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto auto 1fr;
  overflow-y: auto;

  @media (max-width: 375px) {
    overflow-y: hidden;
  }
  @media (max-width: 390px) {
    overflow-y: hidden;
  }
  @media (max-width: 430px) {
    overflow-y: hidden;
  }

  // Basic iOS support
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  // Phone (max-width: 430px)
  @include respond(phone) {
    display: grid;
    grid-template-rows: 20rem 40rem auto;
    min-height: -webkit-fill-available;
    height: 100%;
  }
}
