* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    //1200px
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56%
  }

  @include respond(tab-port) {
    //900px
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(mini-tab) {
    //800px
    font-size: 40%; // 1rem = 7px, 7/16 = 40%
  }

  @include respond(phone) {
    //width < 400? (900px br point)
    font-size: 23%; // 1rem = 3.8px, 3.8/16= 23%
  }

  height: 100%; // Ensure the html element fills the viewport
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: radial-gradient(
    71.09% 120.09% at 26.35% 15.72%,
    #b5cfff 0%,
    #adf4ff 35.02%,
    #bac9fc 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 100vh; // Ensures the body stays within the viewport height
  height: 100%; // Match html height
}
