.Dependencies__selectiondiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  @include respond(phone) {
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 100%;
  }

  .Dependencies__dropdown {
    .drop__name {
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 16.37px;
      text-align: left;
      color: $color-black;
      margin-left: 1rem;
      margin-bottom: 0.5rem;

      @include respond(phone) {
        font-size: 1.4rem;
        margin-left: 0.5rem;
      }
    }

    // .dropdown {
    //   @include respond(mini-tab) {
    //     width: 100%;
    //   }

    //   .btn {
    //     @include respond(mini-tab) {
    //       width: 100%;
    //       text-align: left;
    //     }
    //   }
    // }
  }

  .Dependencies__buttons {
    display: flex;
    justify-self: right;
    align-self: flex-end;
    gap: 1rem;
    margin-left: auto; // This ensures buttons are pushed to the right
    @include respond(mini-tab) {
      width: 100%;
      justify-content: right;
    }
    @include respond(phone) {
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
      margin-top: 2rem;
    }
  }

  .Dependencies__savebutton,
  .Dependencies__resetbutton {
    border-radius: 0.8rem;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    text-align: center;
    @include respond(phone) {
      width: 100%;
    }
  }

  .Dependencies__savebutton {
    background-color: #068eee;

    .dsavebtn-name {
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 21px;
      color: #ffffff;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }

  .Dependencies__resetbutton {
    background-color: $color-white;
    border: 1px solid #068eee;

    .dresetbtn-name {
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 21px;
      color: #068eee;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }
}
