.patient__navbar {
  // max-width: 20.5rem;
  background-color: $color-white;
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.patient-profilediv {
  padding: 3rem 1.2rem 0rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-profile-picture {
  display: flex;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
  // border-radius: 50%;
  // overflow: hidden;
  position: relative;
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
  &__progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #defff4; /* Light gray background */
  }
  &__progress-bar {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 111%;
    height: 111%;
    border-radius: 50%;
    border: 4px solid #4dd385;
    clip: rect(0, 57px, 81px, 0px);
  } /* Half circle clip */
}

.patient-editbutton {
  padding: 0 1.2rem 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__percentage {
    font-size: 1.2rem;
    font-weight: 900;
    color: #4dd385;
    line-height: 1.7;
  }
  &__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: inherit;
    line-height: 1.7;
  }
  &__button {
    width: 5rem;
    height: 2.6rem;
    border-radius: 0.8rem;
    border: 1px solid #068eee;
    background-color: $color-white;
    &__edit {
      font-size: 1.4rem;
      font-weight: 600;
      color: #068eee;
      line-height: 1.7;
    }
  }
}

.p-navigation {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: #f4fbff;

  ul {
    list-style: none;
    width: 100%;
    padding-left: 0 !important;

    li {
      font-size: 1.2rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.7; // Fixed duplicate line-height
      padding: 1rem 1rem 1rem 2rem;
      color: #626262;
      cursor: pointer;
      transition: all 0.2s;
      position: relative;

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
        border-radius: 0.8rem;
        // transform: scale(1.01);
      }

      // Apply styles to the selected list item
      &.selected {
        font-weight: 900;
        color: #068eee;
        background-color: white;
        box-shadow: 0.2rem 0.2rem 0.4rem 0px #00000026;
        border-radius: 0.8rem;
        position: relative;
      }

      // Add ">" symbol after the selected list item
      &.selected::after {
        content: "";
        background-image: url("../Assets/Images/arrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1rem; // Adjust size based on the SVG
        height: 1rem; // Adjust size based on the SVG
        position: absolute;
        right: 1rem; // Adjust the position if necessary
        top: 50%;
        transform: translateY(-50%); // Vertically center the SVG
      }
    }
  }
}

.p-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.6rem;
  row-gap: 0.6rem;
  margin: 0.5rem;
  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: #e5f9f2;
  }
  &__picture {
    width: 1.8rem;
    height: 1.8rem;
  }
}
